.page {
  display: none;
}
.line {
  padding: 10px;
}
.message {
  color: #f00;
}
.label {
  width: 150px;
  display: inline-block;
}
.field1 {
  width: 350px;
  padding: 3px;
}
body {
  font-family: 'Arsenal', sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
}

/* unvisited link */

a:link, a:visited {
  color: #33bb55;
}
a:hover {
  color: #ff4488;
}
